body {
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100vw;
  background-image: url(https://st2.depositphotos.com/1561359/5983/v/450/depositphotos_59833605-stock-illustration-blue-sky-with-clouds-background.jpg);
  background-size: 100%;
}
 .App {
  text-align: center;
  font-family: 'Aref Ruqaa Ink', serif;
 }
 h1{
  padding: 0%;
  margin: 0%;
  font-family: 'Aref Ruqaa Ink', serif;
  font-size: 50px;
  text-shadow: 3px 3px 5px white;
 }
 .main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:30px;
 }

 h3 {
  padding: 0%;
 }

 textarea {
  padding: 75px;
  border-radius: 50%;
  border-width: 0;
 }
  .selectActivity {
  background-color: aliceblue;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50%;
  box-shadow: 3px 3px 5px white;
 }
 .selectActivity:hover {
  background-color: aliceblue;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50%;
  box-shadow: 3px 3px 5px white;
  cursor: pointer;
 }

 .activity {
  background-color: aliceblue;
  padding: 50px;
  border-radius: 50%;
  text-align: center;
  text-justify: center;
  font-size: x-large;
  position: fixed;
  top: 15%;
  left: 35%;
  height: 500px;
  width: 500px;
  box-shadow: 3px 3px 5px white;
 }

 .doSomething {
  margin-bottom: 200px;
 }
 .listenToSomething {
  margin-top: 200px;
 }
 .thought-form {
  background-color: aliceblue;
  padding: 50px;
  border-radius: 50%;
  font-size:large;
  box-shadow: 3px 3px 5px white;
 }

 .gratitude-form {
  background-color: aliceblue;
  padding: 50px;
  border-radius: 50%;
  font-size:large;
  box-shadow: 3px 3px 5px white;
 }

 .left-column {
  max-width:500px;
  flex-grow: 1;
  flex-shrink: 2;
  flex-basis: auto;
  margin: 50px;
 }

 .forms {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: auto;
  margin-top: 150px;
 }

 .right-column {
  max-width:500px;
  flex-grow: 1;
  flex-shrink: 5;
  flex-basis: auto;
  margin: 50px;
 }

 img {
  width: 200px;
  height: auto;
 }